/* cuerpo */
body{
    background-color: #f5d9d5;
    font-family: "Nunito", sans-serif;
}

.blurb h2{
    color: #ea1c2c;
    font-weight: 100;
    font-size: 2.5rem;
}

/* clases */
.blurb p{
    color: #f49fb8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content{
    margin-bottom: 100px;
}

/* ids */
#mainNavBar{
    font-size: 1.5rem;
    font-weight: 100;
    padding: 0 16px;
}

#mainNavBar .navbar-brand{
    color: #ea1c2c;
}

#mainNavBar .nav-link{
    color: white;
}

#mainNavBar .nav-link:hover{
    color: #ea1c2c;
}

#headingGroup span{
    color: #ea1c2c;
}

#headingGroup h1{
    color: white;
    font-weight: 100;
    font-size: 3.5rem;
}

.navbar.scrolled {
    background: #dec0de;
    transition: background 500ms;
}
/* Encabezado responsivo */
@media (max-width: 1200px){
    #headingGroup h1{
        font-size: 2.8rem;
    }
}

